<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java App</title>
    <!-- Container for metadata(is not displayed)
    Title, Styles, Link, Scripts, Meta and other
    -->
    <meta name="Ali">

</head>
<body>
        <h1>Spring Boot</h1>

        Welcome to Developer App!!!!

        <h1 align="center" style="color: blue">Spring Framework</h1>

        <ul  >
            <li>MVC</li>
            <li>ORM</li>
            <li>API</li>

        </ul>

        <a href="https://google.com">Google</a>

        <table>
            <tr>
                <td>Loop</td>
                <td>Collection</td>
                <td>Stream</td>
            </tr>
            <tr>
                <td>IoC</td>
                <td>DI</td>
                <td>Value</td>
            </tr>
        </table>

    <!--Forms-->
    <label>Username:</label>
    <input type="text" name="username"><br>
    <input type="password"><br>
    <label>Enter your comments: </label>
    <textarea name="comments"></textarea><br>
        <br>
    <label>Please select your fav subject: </label><br>
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC
    <input type="radio" name="Spring" value="DI" >DI
    <input type="radio" name="Spring" value="MVC" >MVC
        <br>
    <label>Please select your place</label><br>
    <input typ="checkbox" name="company" value="BOA"> BOA
    <input typ="checkbox" name="company" value="SW"> SW
    <input typ="checkbox" name="company" value="Limited"> LTD
        <br>
    <label>Select your car:</label><br>
    <select name="cars">
        <option value="Honda">Honda</option>
        <option value="Nissan">Nissan</option>
        <option value="Ferrari">Ferrari</option>
    </select>
        <br>
    <form action="#" method="get">
        First name:<input type="text" name="first_name">
        <br>
        Last name:<input type="text" name="last_name">
    </form>
        <br>
    <div>
        <h3> This is a Java App</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
    </div>

</body>      
</html>